* {
  --lotto-primary-dark: #2a3159;
  --lotto-primary: #4e5ba6;
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;
  --text-title: 2.4rem;
  --text-subtitle: 2rem;
  --text-body: 1.5rem;
  --text-placeholder: 1.5rem;
  --text-caption: 1.4rem;
}

body {
  font-size: 1.5rem;
}

.p-bold {
  font-weight: 700;
}

.p-title {
  font-size: var(--text-title);
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.p-subtitle {
  font-size: var(--text-subtitle);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.15px;
}

.p-body {
  font-size: var(--text-body);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.5px;
}

.p-caption {
  font-size: var(--text-caption);
  font-style: normal;
  font-weight: 700;
  line-height: 114.286%;
  letter-spacing: 1.25px;
}

.p-icon {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105.882%;
}

.main-btn {
  width: 100%;
  padding: 6px 6px 6px 8px;
  border-radius: 4px;
  background-color: var(--lotto-primary);
  color: var(--lotto-greyscale-1, #fff);
  border: none;
  transition: background-color 0.3s;
}

.main-btn p {
  padding: 4px 6px;
}

.main-btn:hover {
  background-color: var(--lotto-primary-dark);
}

.lotto-ticket-container {
  display: flex;
  align-items: center;
}
