@import "./style/reset.css";
@import "./style/header.css";
@import "./style/footer.css";
@import "./style/mainBtn.css";
@import "./style/inputBoxContainer.css";
@import "./style/lottoContainer.css";
@import "./style/winningLottoContainer.css";
@import "./style/resultModal.css";

* {
  --lotto-primary-dark: #2a3159;
  --lotto-primary: #4e5ba6;
  --lotto-greyscale-1: #ffffff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000000;
  --text-title: 2.4rem;
  --text-subtitle: 2rem;
  --text-body: 1.5rem;
  --text-placeholder: 1.5rem;
  --text-caption: 1.4rem;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 1024px;
}

.p-bold {
  color: var(--lotto-greyscale-5, #000);
  font-weight: 700;
}

.p-title {
  font-size: var(--text-title);
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.p-subtitle {
  font-size: var(--text-subtitle);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.15px;
}

.p-body {
  font-size: var(--text-body);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.5px;
}

.p-caption {
  font-size: var(--text-caption);
  font-style: normal;
  font-weight: 700;
  line-height: 114.286%;
  letter-spacing: 1.25px;
}

.p-icon {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105.882%;
}

.lotto-app-container {
  margin: auto;
  width: 450px;
  padding: 40px 16px 32px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(--lotto-greyscale-1, #fff);
}

.lotto-title {
  text-align: center;
  margin-bottom: 28px;
}

.number-input {
  width: 34px;
  height: 36px;
  text-align: center;
}
