.winning-lotto-container {
  margin-bottom: 28px;
}

.winning-lotto-container > p {
  margin-bottom: 12px;
}

.winning-lotto {
  display: flex;
  justify-content: space-between;
}

.target-number > p {
  margin-bottom: 8px;
}

.bonus-number {
  text-align: end;
}

.bonus-number > p {
  margin-bottom: 8px;
}
